

thead, h1{
    text-align: center;

}

table,th,td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
}
th,td{
    padding: 1rem;
    margin: 1rem;

}
